@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center {
    padding-left: calc(50% - 1140px/2);
    padding-right: calc(50% - 1140px/2);
}

.top {
    background: #222;
    padding-top: 18px;
    padding-bottom: 18px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 41px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 33px;
}

.brand-info {
    background: #F1E4E6;
    display: flex;
    align-items: center;
    gap: 63.42px;
    padding-left: calc(50%-800px);
    padding-right: calc(50%-800px);
}

.brand-img {
    width: 50%;
}

.brandname {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.brandname h1 {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.name {
    font-size: 48px;
    font-weight: 900;
}

.pink {
    color: #F16D7F;
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 65px;
    padding-bottom: 65px;
    justify-content: center;
}

.category {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.accesories {
    grid-column: 1 / -1;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
}

.text-in-box {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
}

.pink-text {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.featured {
    padding-top: 31px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured h1 {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
}

.introduce {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.featured-items {
    padding-top: 48px;
    padding-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.featured-item {
    background: #F8F8F8;
}

.featured-info {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.costume {
    background-color: #F7E4E2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
}

.featured-item h3 {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-text {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-right: 13px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.browse-more {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 2px solid #FF6A6A;
    background: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .center {
        padding-left: calc(50% - 734px/2);
        padding-right: calc(50% - 734px/2);
    }

    .brand-info {
        gap: 39px;
        padding-left: calc(50%-734px/2);
        padding-right: calc(50%-734px/2);
    }

    .brandname h1 {
        font-size: 24px;
    }

    .name {
        font-size: 44px;
    }

    .categories {
        grid-template-rows: auto 116px;
        gap: 20px;
    }

    .category img {
        max-width: 232px;
    }

    .accesories img {
        max-height: 100%;
        max-width: 100%;
    }

    .featured {
        padding-top: 45px;
        padding-bottom: 70px;
    }


    .featured h1 {
        margin-bottom: 3px;
    }

    .featured-items {
        padding-top: 73px;
        padding-bottom: 32.48px;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .featured-item h3 {
        margin-bottom: 12.65px;
    }

    .about-text {
        margin-bottom: 18px;
    }

    .browse-more {
        padding-left: 39px;
        padding-right: 39px;
    }
}